{
    "presets": [
        "es2015",
        "stage-2",
        "stage-0"
    ],
    "plugins": [
        ["transform-es2015-classes", { "loose": true }],
        "transform-class-constructor-call"
    ]
}